results/z*
.Rproj.user
codefile-processing-code.Rproj
.RData
.Rhistory
codefile-processing.Rproj
*.Rd
*.Rproj
*.pdf
codeProcessing_logs/
*~
*.synctex.gz
*.toc
*.aux
*.log
GEN_todolist.txt
codeProcessing/NAMESPACE
*.DS_Store
